# Keep empty logs/ directory.
"pixiv/*"
"/イラスト/*"
"/移動用/*"
"/素材/*"
"/壁紙転送/*"
"/壁紙転送/GearS3/*"
"/壁紙転送/iPad Pro/*"
"/壁紙転送/iPad Pro_2388未満/*"
"/壁紙転送/スマホ/*"
"/壁紙転送/スマホ_S22U未満/*"
"/壁紙転送/パソコン/*"
"/壁紙転送/パソコン_4K未満/*"
"/壁紙転送/パソコン_FHD未満/*"
"/裏イラスト/*"

!"/pixiv/.gitkeep"
!"/イラスト/.gitkeep"
!"/移動用/.gitkeep"
!"/素材/.gitkeep"
!"/壁紙転送/GearS3/.gitkeep"
!"/壁紙転送/iPad Pro/.gitkeep"
!"/壁紙転送/iPad Pro_2388未満/.gitkeep"
!"/壁紙転送/スマホ/.gitkeep"
!"/壁紙転送/スマホ_S22U未満/.gitkeep"
!"/壁紙転送/パソコン/.gitkeep"
!"/壁紙転送/パソコン_4K未満/.gitkeep"
!"/壁紙転送/パソコン_FHD未満/.gitkeep"
!"/裏イラスト/.gitkeep"
